body {
    background-color:#5577FF;            
}
a{
    text-align:center;
    margin-right:auto;
    margin-left:auto;
}
button{
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    width:20%;
}
#regionbutton {
    text-align:center;
    margin-right:auto;
    margin-left:auto;
}
#label{
    display:none;
    font-size: 105%;
}
#navajo{
    display:none;
    font-size: 105%;
}
#vmap{
    width: 600px;
    height:400px;
    margin: 0 auto;
    display:inline-block;
}
#about{
    width:5%;
    height:5%;
    float:right;
    display: none;
    margin-top: 5%;
}
#blurb{
    background-color: rgba(255,255,255,0.8);
    top: 10px;
    right: 10%;
    left: 10%;
    font-size:16px;
    color:black;
    padding:0 10px;
    position:fixed;
    display:none;
    z-index: 4;
    word-wrap:break-word;
}
